n8n_RAG/ChatBotTuVanOllama.json
{
  "name": "ChatBotTuVanOllamaFixed",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Xin chào! Tôi là trợ lý AI tư vấn sức khỏe hô hấp. Tôi có thể giúp gì cho bạn hôm nay? 🫁",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2624,
        16
      ],
      "id": "618cbf03-c2cf-44e4-8e46-bffcb8d96c90",
      "name": "When chat message received",
      "webhookId": "50582a52-9b8c-4406-9796-955a1208e794"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "72d0ce17-8cc0-4939-b6e3-2689ddd093bd",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "c2303b69-5f6d-4eee-8fc0-41ce85655520",
      "name": "Webhook (API)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2624,
        192
      ],
      "webhookId": "72d0ce17-8cc0-4939-b6e3-2689ddd093bd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const rawInput = item.json.chatInput || item.json.body?.message || item.json.body?.query || '';\n  const sessionId = item.json.sessionId || item.json.body?.sessionId || `session-${Date.now()}`;\n\n  item.json = {\n    chatInput: rawInput,\n    sessionId: sessionId,\n    source: item.json.chatInput ? 'chat' : 'api',\n    receivedAt: new Date().toISOString()\n  };\n}\n\nreturn items;"
      },
      "id": "3a5fe489-5fcc-4d58-80ea-3d2a5f9cad73",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "position": [
        -2368,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Bạn là trợ lý AI chuyên về Sức khỏe Hô hấp và Phổi học.\n\nQUY TẮC TUYỆT ĐỐI:\n- CHỈ xuất ra câu trả lời cuối cùng. KHÔNG viết suy nghĩ, phân tích, lý luận nội tâm.\n- KHÔNG dùng: \"Okay\", \"Let me\", \"Looking at\", \"I need\", \"Now I\", \"First\", \"The context\", \"Wait\", \"Check\", \"So I\", \"Let's\", \"Based on\", \"The user\", \"According\", \"Then\", \"Make sure\", \"structure it\"\n- TOÀN BỘ output phải bằng tiếng Việt. Tuyệt đối không dùng tiếng Anh.\n\nBƯỚC 1 — TRA CỨU:\nGọi tool `Respiratory_Knowledge_Base` đúng một lần với câu hỏi của người dùng. Không gọi lại.\n\nBƯỚC 2 — TỔNG HỢP TRIỆU CHỨNG:\nXem lại toàn bộ lịch sử hội thoại. Kết hợp tất cả triệu chứng người dùng đã đề cập để đánh giá mức độ nguy hiểm.\nVí dụ: Lượt trước \"sốt 38.5°C\" + lượt này \"đau ngực\" → cảnh báo nguy cơ viêm phổi, khuyên khám ngay.\n\nBƯỚC 3 — TRẢ LỜI NGAY với format sau, KHÔNG có dòng nào khác ngoài format:\n\n[Nếu nguy hiểm: 🚨 CẢNH BÁO: [lý do]. Vui lòng gọi 115 hoặc đến cơ sở y tế ngay.]\n📌 Nguyên nhân phổ biến: [nội dung thực từ KB]\n💊 Triệu chứng có thể gặp: [nội dung thực từ KB]\n⚠️ Dấu hiệu cần lưu ý: [nội dung thực từ KB]\n🛡️ Lời khuyên chung: [nội dung thực từ KB]\n\n[câu hỏi follow-up tiếng Việt]\nTôi là trợ lý AI. Để được tư vấn chuyên môn, vui lòng liên hệ với bác sĩ.\n\nQUY TẮC Y TẾ:\n- KHÔNG chẩn đoán bệnh cụ thể, KHÔNG kê đơn thuốc\n- Khẩn cấp (khó thở nặng, môi tím, ho ra máu, đau ngực dữ dội) → thêm 🚨 CẢNH BÁO và gọi 115\n👨‍⚕️ Khi hỏi đặt lịch: \"Để đặt lịch khám, vui lòng liên hệ bác sĩ chuyên khoa Hô Hấp qua Zalo/Hotline: [Số điện thoại]\"\n"
        }
      },
      "id": "4ebc29f3-9814-4c96-ab5f-f9d203b0ae33",
      "name": "AI Agent (RAG)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1888,
        128
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "cc7628dc-7ae6-4855-b13b-da01865821ab",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1792,
        416
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "name": "Respiratory_Knowledge_Base",
        "description": "Công cụ tra cứu thông tin sức khỏe hô hấp. Gọi tool này MỘT LẦN DUY NHẤT với câu hỏi của người dùng trước khi trả lời. Sau khi nhận kết quả, tổng hợp và trả lời ngay, không gọi lại.",
        "topK": 10
      },
      "id": "a97dfc70-39af-4085-b3e2-92b585b90fd3",
      "name": "Knowledge Base Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -1664,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "respiratory-medical-rag",
          "mode": "list",
          "cachedResultName": "respiratory-medical-rag"
        },
        "options": {}
      },
      "id": "a8ebb216-db7e-426a-b149-dc5ac6d04260",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1792,
        640
      ],
      "typeVersion": 1.1,
      "credentials": {
        "pineconeApi": {
          "id": "onOtlks4xq5c4vrl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "success-condition",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.output }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0ed4f688-e568-4861-ae9c-01d81cddb207",
      "name": "Check AI Success",
      "type": "n8n-nodes-base.if",
      "position": [
        -1584,
        256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success-response",
              "name": "response",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "severity",
              "name": "severity",
              "type": "string",
              "value": "normal"
            }
          ]
        },
        "options": {}
      },
      "id": "9be14b61-fc6f-45cc-9419-5c70978278c1",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "position": [
        -1152,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error-response",
              "name": "response",
              "type": "string",
              "value": "Xin lỗi, đã xảy ra lỗi khi xử lý câu hỏi của bạn. Vui lòng thử lại sau hoặc liên hệ với bác sĩ trực tiếp để được tư vấn.\n\n📞 Hỗ trợ: [Số điện thoại phòng khám]\n💙 Sức khỏe của bạn là ưu tiên hàng đầu của chúng tôi."
            },
            {
              "id": "error-type",
              "name": "responseType",
              "type": "string",
              "value": "error"
            },
            {
              "id": "error-severity",
              "name": "severity",
              "type": "string",
              "value": "low"
            }
          ]
        },
        "options": {}
      },
      "id": "fdb1882b-3c05-4659-b23e-2a363747f5ac",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        -1392,
        352
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item?.json || {};\n\nlet sessionId = data.sessionId;\ntry {\n  if (!sessionId) sessionId = $('Normalize Input').item.json.sessionId;\n} catch (e) {}\n\nlet response = data.response || 'Xin lỗi, tôi không hiểu câu hỏi của bạn.';\n\n// === LỌC THINKING LEAK ===\n// Tách thành các dòng để xử lý\nlet lines = response.split('\\n');\nlet cleanLines = [];\nlet foundRealContent = false;\n\n// Pattern nhận ra dòng thinking (tiếng Anh hoặc placeholder)\nconst isThinkingLine = (line) => {\n  const t = line.trim();\n  if (t === '') return false;\n  // Dòng tiếng Anh thinking\n  if (/^(Okay|Let me|Now|Looking|I need|I will|First,|The context|Wait,|Check|So I|Let's|Based on|The user|According|I called|I have|I should|I'll|The tool|I got|Now I|This is|Alright|Sure|Make sure|Then a|Then the|structure it|Let me structure)/i.test(t)) return true;\n  // Dòng placeholder [from data] / [từ context] chưa được điền\n  if (/\\[from data\\]|\\[từ context\\]|\\[nội dung\\]|\\[information\\]/i.test(t)) return true;\n  // Dòng tiếng Anh thuần (chứa nhiều từ tiếng Anh liên tiếp)\n  if (/^[a-zA-Z\\s,.\\-:]+$/.test(t) && t.length > 15) return true;\n  return false;\n};\n\n// Tìm dòng thực sự đầu tiên (có nội dung tiếng Việt hoặc emoji thực)\nfor (let i = 0; i < lines.length; i++) {\n  const t = lines[i].trim();\n  if (!foundRealContent) {\n    if (isThinkingLine(t)) continue;\n    // Dòng bắt đầu bằng emoji VÀ có nội dung thực (không phải placeholder)\n    const hasRealEmoji = /^[📌💊⚠️🛡️🚨]/.test(t) && !/\\[from data\\]|\\[từ context\\]/.test(t);\n    const hasVietnamese = /[àáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]/i.test(t);\n    if (hasRealEmoji || hasVietnamese || t.startsWith('🚨')) {\n      foundRealContent = true;\n      cleanLines.push(lines[i]);\n    }\n  } else {\n    cleanLines.push(lines[i]);\n  }\n}\n\nresponse = cleanLines.join('\\n').trim();\n\n// Fallback nếu filter quá mạnh\nif (response.length < 20) {\n  response = data.response || 'Xin lỗi, tôi không hiểu câu hỏi của bạn.';\n}\n\n// Auto-detect emergency\nconst isEmergency = /🚨|gọi 115|cấp cứu ngay|đến bệnh viện ngay/i.test(response);\nconst severity = isEmergency ? 'emergency' : (data.severity || 'normal');\nconst responseType = isEmergency ? 'emergency' : (data.responseType || 'general');\n\nconst finalResponse = {\n  success: true,\n  data: {\n    message: response,\n    type: responseType,\n    severity,\n    timestamp: new Date().toISOString(),\n    disclaimer: isEmergency ? null : '💙 Thông tin này chỉ mang tính tham khảo. Vui lòng tham khảo bác sĩ để được tư vấn chính xác.',\n    suggestedActions: isEmergency\n      ? ['🚨 Gọi cấp cứu 115 ngay lập tức', 'Đến bệnh viện/phòng cấp cứu gần nhất', 'Giữ bình tĩnh và ngồi thẳng']\n      : ['Theo dõi triệu chứng trong vài ngày', 'Gặp bác sĩ nếu không thuyên giảm', 'Giữ vệ sinh và nghỉ ngơi đầy đủ']\n  },\n  meta: {\n    sessionId: sessionId || 'unknown',\n    queryType: responseType,\n    processedAt: new Date().toISOString()\n  }\n};\n\nreturn [{ json: finalResponse }];"
      },
      "id": "a9c6b0a7-2a0e-46a0-ae98-fee11ecf2793",
      "name": "Compile Final Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -256,
        176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              },
              {
                "name": "X-Health-Disclaimer",
                "value": "This is not medical advice. Consult a doctor."
              },
              {
                "name": "X-Response-Time",
                "value": "={{ new Date().toISOString() }}"
              }
            ]
          }
        }
      },
      "id": "c94df7c9-1748-45fb-bb40-a52339102b64",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        0,
        0
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "qwen3-vl:235b-instruct",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -2016,
        336
      ],
      "id": "34e65f6f-81a3-462f-ae74-5c56ac15bd4f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "dUIkxwtyENjXCKLt",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-vl:235b-instruct",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1440,
        672
      ],
      "id": "211227e0-c620-44ae-a750-e641cad90e7e",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "dUIkxwtyENjXCKLt",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "=nvidia/llama-nemotron-embed-vl-1b-v2:free",
        "options": {
          "encodingFormat": "float"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1808,
        800
      ],
      "id": "b1dcbaa1-2524-4fa0-93fe-2887dd83ff4d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "U855x9BND3nmgXvK",
          "name": "Openrouter"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (API)": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "AI Agent (RAG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (RAG)": {
      "main": [
        [
          {
            "node": "Check AI Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Success": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Compile Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Compile Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Final Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (RAG)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (RAG)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (RAG)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6cf35a6-c4f9-48d3-a9dc-1fe229a93f97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26c301aca3d4cd9c0e95ec6b63c272c94d533b8ac9788d699005f0982b7b8467"
  },
  "id": "yEUfHtJY105WywUA",
  "tags": [
    {
      "updatedAt": "2026-03-17T14:01:48.435Z",
      "createdAt": "2026-03-17T14:01:48.435Z",
      "id": "GjCBQprKUkGBFAKe",
      "name": "Health Assistant"
    },
    {
      "updatedAt": "2026-03-17T14:01:48.465Z",
      "createdAt": "2026-03-17T14:01:48.465Z",
      "id": "m2Yyn0TTtY5vf3ed",
      "name": "RAG Chatbot"
    },
    {
      "updatedAt": "2026-03-17T14:01:48.466Z",
      "createdAt": "2026-03-17T14:01:48.466Z",
      "id": "kZoZKTUTftOQICR7",
      "name": "Respiratory"
    }
  ]
}